:root {
    --fondo: #0d1117;
    --primario: #58a6ff;
    --secundario: #161b22;
    --texto: #c9d1d9;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--fondo);
    color: var(--texto);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    background-color: var(--secundario);
    color: var(--texto);
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.navbar a.active {
    text-decoration: underline;
    font-weight: bold;
    color: var(--primario);
}

footer {
    background-color: var(--primario);
    color: var(--fondo);
    text-align: center;
    padding: 1rem;
    width: 100%;
    flex-shrink: 0;
}

.iconos img {
    width: 30px;
    margin: 0 8px;
}

/* Home */

#home {
    background-color: var(--fondo);
    background-image: url('../img/Logo2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home h1 {
    font-size: 3rem;
}

.contenido-home {
    max-width: 800px;
    margin: 0 auto;
    color: var(--texto);
    background-color: rgba(13, 17, 23, 0.7);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.home-section {
    padding: 60px 20px;
    background-color: transparent;
    text-align: center;
}

.home-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--texto);
}

.home-section h3 {
    font-size: 28px;
    margin-top: 40px;
    color: var(--texto);
}

.home-section p {
    font-size: 18px;
    line-height: 1.6;
}

/* Servicios */
  
#servicios {
    padding: 2rem;
    background-color: var(--fondo);
    color: var(--texto);
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    background-color: var(--primario);
    border-radius: 16px;
    width: 250px;
    height: 100%;
    padding: 1rem;
    color: var(--texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
    opacity: 0;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    color: var(--texto);
}

.card p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.btn-servicio {
    margin-top: auto;
    padding: 6px 12px;
    background-color: var(--secundario);
    color: var(--texto);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.btn-servicio:hover {
    background-color:var(--fondo);
}

/* Animaciones */

.slide-left {
    animation: slide-in-left 1s ease forwards;
}

.slide-right {
    animation: slide-in-right 1s ease forwards;
}

@keyframes slide-in-left {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slide-in-right {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* Galeria */

#galeria {
    padding: 2rem 5rem;
    background-color: var(--fondo);
    color: var(--texto);
    text-align: center;
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    gap: 1.5rem;
    margin-top: 1rem;
    justify-content: center;
}

.galeria-grid img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: var(--secundario);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    padding: 5px;
}

.galeria-grid img:hover {
    transform: scale(1.50); /* efecto zoom */
}

/* Contacto */

#contacto {
    padding: 2rem;
    background-color: var(--fondo);
    color: var(--texto);
    text-align: center;
}

form {
    display: grid;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

input, textarea, select {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--texto);
}

button {
    padding: 0.5rem;
    background-color: var(--primario);
    color: var(--texto);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
